.leftPaneStyle {
  background-color: var(--depth-1-bg);
  color: #000;

  width: 100%;
  height: 100%;

  margin-right: 2px;
  padding: 0.3rem;

  border-radius: 0.3rem;
  border: 0.1rem #313131 solid;
}
